body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  all: unset;
}

.heading {
  text-align: left;
}

.heading h1 {
  margin: 1.7rem 0rem 1rem 3rem;
}

.heading button {
  all: unset;
  margin: 0rem 0rem 1rem 3rem;
  font-weight: 200;
}

.heading button:hover {
  color: rgb(16, 181, 29);
  cursor: pointer;
}

form {
  margin: 1rem;
}

.img-wrap img {
  margin: 1rem;
  max-height: 45rem;
  width: auto;
}

/* CONTACT FORM */ 

.contact-wrap form {
  margin-left: 2.5rem;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.contact-wrap input {
  margin: 0.5rem;
  width: 14rem;
}

.contact-wrap textarea {
  margin: 0.5rem;
  width: 30rem;
}

.contact-wrap button {
  width: 8rem;
  margin: 0.5rem;
  font-size: 14px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 200;
  cursor: pointer;
}

.contact-wrap button:hover {
  background-color: black;
  color: white;
}