body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  text-align: left;
}

.heading h1 {
  margin: 1.7rem 0rem 1rem 3rem;
}

.heading button {
  all: unset;
  margin: 0rem 0rem 1rem 3rem;
  font-weight: 200;
}

.heading button:hover {
  color: rgb(0, 255, 21);
  cursor: pointer;
}

form {
  margin: 1rem;
}
